SERVER_PORT=8080
PRINTER_TIMEOUT_SEC=5
# Real IPs
# PRINTER_IP=172.10.11.5
# PRINTER_PORT=9112

# for testing
# PRINTER_IP=127.0.0.1
# PRINTER_PORT=54321

# test with fake printer
PRINTER_IP=127.0.0.1
PRINTER_PORT=9999

PENDING_JOB_PATH=./data/pending
SHIPPING_TEMPLATE_PATH=./templates/shipping.txt
IDENTITY_TEMPLATE_PATH=./templates/product.txt